#body {
    height: auto;
}

    /*ANIMATIONEN*/
#aktuellerSpielerId{		
    border-radius: 9px;	
    -moz-border-radius: 9px;	
    -webkit-border-radius: 9px;	
/*    border: 2px solid #ffaf04;	*/
    display: block;	
    position: relative;	
    -webkit-animation: aktuellerSpielerNeon 2.5s ease-out alternate;
    -webkit-animation-iteration-count: infinite; 	
    opacity: 1;
    font-size: 8vw;
}

@-webkit-keyframes aktuellerSpielerNeon {	
   0%,
  100% {
    text-shadow: 
      0 0 1vw #1041FF, 
      0 0 3vw #1041FF, 
      0 0 10vw #1041FF, 
      0 0 10vw #1041FF, 
      0 0 .4vw #8BFDFE;
    color: #28deFE;
  }
  50% {
    text-shadow: 
      0 0 .5vw #021150, 
      0 0 1.5vw #082180,
      0 0 5vw #082180, 
      0 0 5vw #082110, 
      0 0 .2vw #022120;
    color: #146C80;
    }
}

img:hover{
        border: #146C80 solid 5px;
        border-radius: 8px; 
        transform: scale(1.5);
        transition: all 0.1s; 

        /* -webkit-animation-duration: 0.5s;
        -webkit-animation-name: cardsOnHover; */
    }

/* @-webkit-keyframes cardsOnHoverBounce{
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
   40% {transform: translateY(-10px);} 
   60% {transform: translateY(-5px);} 
} */
img:active{
    -webkit-animation: rotate-diagonal-br 3s linear 1 both;
    animation: rotate-diagonal-br 0.5s linear 1 both;
}

@-webkit-keyframes rotate-diagonal-br {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
              transform: rotate3d(-1, 1, 0, 0deg);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    50% {
      -webkit-transform: rotate3d(-1, 1, 0, -180deg);
              transform: rotate3d(-1, 1, 0, -180deg);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: rotate3d(-1, 1, 0, -360deg);
              transform: rotate3d(-1, 1, 0, -360deg);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  }
  @keyframes rotate-diagonal-br {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
              transform: rotate3d(-1, 1, 0, 0deg);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    50% {
      -webkit-transform: rotate3d(-1, 1, 0, -180deg);
              transform: rotate3d(-1, 1, 0, -180deg);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: rotate3d(-1, 1, 0, -360deg);
              transform: rotate3d(-1, 1, 0, -360deg);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  } 

.wrong{
    width: 40vw;
    height: 20vw; 
    border:  #146C80 solid 5px;
    background-color: #ADFF2F;
    color:darkblue;
    border-radius: 25px; 
    z-index: 2;
    margin-top: 2vw; 
    font-size: 4vw;
    margin-left: 16vw; 
    margin-right: -14vw;
    animation: alternateColors 0.5s infinite; 
}
@keyframes alternateColors{
    0%,
    100%{
        background-color: #ADFF2F;
        color:darkblue
    }
    50%{
        background-color: rgb(0, 255, 136);
        color:magenta
    }
}
.ok{
    border-radius: 25px;
    color: yellow;
    background-color: darkblue;
}

#playerNames{
    background-color: #8BFDFE;
    background-image: url('https://image.api.playstation.com/vulcan/img/rnd/202010/0901/hhIev1lTZ5owLf2eTVnjpFoj.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#playerNamesForm{
    font-family: 'courier', san-serif; 
    position: relative; 
    align-self: center;
    color: rgb(103, 243, 39);

}
.modal-header{
    background-color: green;
    justify-content: center;}
.modal-body{
    background-image: url('https://image.api.playstation.com/vulcan/img/rnd/202010/0901/hhIev1lTZ5owLf2eTVnjpFoj.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.modal-footer{
    background-color: red;
}
#playerNamesSubmit{
    color:rgb(103, 243, 39);
    background-color: royalblue;
    border-radius: 20px;
}
#wildColor{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(103, 243, 39); 
    
}
.modal-title{
    text-align: center;
    align-self: center;
    justify-content: center;
}




#activePlayer {
    margin-left: -100px;
    padding-top: 11vw;
    font-size: 3vh
}
#sf-mitte_card_stack_new{
    align-self: center;
    margin-top: -60px; 
    padding-left: 20px; 
}
#sf-mitte_card_stack_new:active{
	-webkit-animation: drawCardVertFlip 0.5s cubic-bezier(0.1, 0.7, 1.0, 0.1) both;

}

@-webkit-keyframes drawCardVertFlip {
    0% {
              transform: rotateY(-90deg);
      opacity: 1;
    }
    100% {
              transform: rotateY(-180deg);
      opacity: 0;
    }
  }
  #startkarte{
      padding-left: 50px;
      padding-right: 10px; 
      transform: scale(1.7); 
      transition: all infinite; 
      align-self: center;
  }





    .punkte{
        align-self: center;
        padding: 10px; 
    }
    

    #img-uno {
       background-image: url('https://image.api.playstation.com/vulcan/img/rnd/202010/0901/hhIev1lTZ5owLf2eTVnjpFoj.jpg');
    }
    
    .img-container {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: limegreen;
        min-width: 1000px;
        min-height: 100vh;
        
    }
    
    .spielbrett {
        font-family: 'Courier',sans-serif;
        text-align: center;
        color: rgb(11, 1, 29);
        font-weight: bold;
        text-transform: uppercase;
    }
    
    #greeting {
        padding-top: 8vw;
        padding-left: 6vw;
        color: #ADFF2F;
        text-shadow: 8px 8px 5px #082180;
    }

    h1{
    font-size: 8vh;
    -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    
   
    /* ctn - container */
    
    img {
        float: left
    }
    
    #ctn-nord {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: -90px;
        margin-left: -100px;
    }
    /* sn - spielername */
    
    .sn {
        width: 18%;
        border-radius: 50%;
        /* padding: 20px; */
        margin-top: 20px;
    }
    
    #sn-nord {
        display: flex;
        align-items: center;
        align-self: center;
        background-color: lightgreen;
        width: 18%;
        border-radius: 50%;
        /* padding: 20px; */
        margin-top: 20px;
    }
    /* sf - spielfeld */
    
    .sf {
        padding: 20px;
        justify-content: center;
        border-radius: 18px;
        min-width: 25vw;
        min-height: 10vw;
        /*opacity: 70%;*/
    }

    #score-nord{
        border-radius: 50%;
        align-self: center;
        background-color:lightgreen;
    }
    
    #nord {
        background-color: lightgreen;
        padding: 20px;
        justify-content: center;
        border-radius: 18px;
        min-width: 25vw;
        min-height: 10vw;
        margin-top: 10px;
        /*opacity: 70%;*/
    }
    
    #ctn-west-mitte-ost {
        /* border: solid 6px purple; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }
    
    #ctn-west {
        display: flex;
        align-items: flex-start;
    }
    
    #sn-west {
        background-color: lightgoldenrodyellow;
        width: 18%;
        border-radius: 50%;
        /* padding: 20px; */
        margin: 6px;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    #score-west{
        border-radius: 50%;
        align-self: center;
        background-color:lightgoldenrodyellow;
    }
    #west {
        background-color: lightgoldenrodyellow;
        padding: 20px;
        border-radius: 18px;
        min-width: 25vw;
        min-height: 10vw;
        /*opacity: 70%;*/
    }
    
    #sf-mitte {
        background-image: url('https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fcdn3.tvweb.com%2Fi%2Farticle%2F5X1Wh3FWYZcA8xZCDFTSwb1ahohvq5%2F1200%3A100%2FUno-Game-Show.jpg&sp=1606593427T648532e333912904675c68b9b15669c85ec039761c9c618ffc051cea397a0f02');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-width: 12vw;
        min-height: 20vw;
        border-radius: 18px;
        /* border: solid 5px darkgreen; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 38px;
        margin-right: 48px; 
        margin-top: -27px; 
    }
    
    #ctn-ost {
        padding: 45px;
        display: flex;
        justify-content: flex-end;
    }

    #score-ost{
        border-radius: 50%;
        align-self: center;
        background-color:lightskyblue;

    }
    
    #ost {
        background-color: lightskyblue;
        padding: 20px;
        border-radius: 18px;
        min-width: 25vw;
        min-height: 10vw;
        /*opacity: 70%;*/
    }
    
    #sn-ost {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        align-self: flex-end;
        background-color: lightskyblue;
        width: 18%;
        border-radius: 50%;
        /* padding: 20px; */
        margin: 10px;
    }
    
    #ctn-sued {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -25px;
    }
    #score-sued{
        border-radius: 50%;
        align-self: center;
        background-color:lightcoral;
    }
    
    #sued {
        background-color: lightcoral;
        padding: 20px;
        border-radius: 18px;
        min-width: 25vw;
        min-height: 10vw;
        /*opacity: 70%;*/
    }
    
    #sn-sued {
        background-color: lightcoral;
        width: 10%;
        border-radius: 50%;
        /* padding: 20px; */
        margin: 10px;
        margin-bottom: 20px;
    }
    #suedUndWarnings{
        display:flex; 
        justify-content: flex-start;
        align-items: flex-start;
        
    }

    